[submodule "deps/llvm"]
	path = deps/llvm
	url = https://github.com/llvm/llvm-project.git
[submodule "deps/wxWidgets"]
	path = deps/wxWidgets
	url = https://github.com/wxWidgets/wxWidgets.git
[submodule "deps/libpng16"]
	path = deps/libpng16
	url = https://github.com/pnggroup/libpng.git
[submodule "deps/libexpat"]
	path = deps/libexpat
	url = https://github.com/libexpat/libexpat.git
